@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300;400&display=swap');

body {
    width: 70%;
    margin-left: 300px;
    justify-content: center;
    font-family: 'Poppins', sans-serif; 
    background-color: #adacac;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    border-bottom: 1px solid #dddddd;
    padding: 10px 20px;
    font-size: 14px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    background-color: #edeef1;
}

tr:hover td {
    color: #44b478;
    cursor: pointer;
    background-color: #ffffff;
}